In [13]:
import pandas as pd
import os 

path=r'C:\Users\nikit\OneDrive\Desktop\Psn\trab_final\excelfiles'
df = pd.read_excel(os.path.join(path,'O seu municipio em numeros! Abrantes.xls'))

# Limpeza do Data Frame resultante
df=df[6:78]
df=df.drop(['Unnamed: 1','Unnamed: 3','Unnamed: 5','Unnamed: 6','Unnamed: 4'],axis=1)#axis 1 porque é para eleminar coluna
df.columns=['Municipio']+df.loc[7].tolist()[1:]
df.loc[6]=['Ano',2010]
df=df.drop(7)
df=df.transpose()
df.columns=df.loc['Municipio']
df=df.drop(['Municipio'])
    
print('primeira parte foi lida')

df

primeira parte foi lida

Municipio,Ano,População residente,Superfície em km2,Densidade populacional,número médio de indivíduos por km2,Jovens (%),menos de 15 anos,População em idade activa (%),15 aos 64 anos,Idosos (%),...,Receitas da Câmara Municipal (8),"€, milhares",Saldo financeiro da Câmara Municipal,"€, milhares",Transferências recebidas no total das receitas da Câmara Municipal (%),Crimes registados pelas polícias por mil habitantes,Consumo de energia eléctrica por habitante (kWh),Resíduos urbanos recolhidos selectivamente por habitante (kg),Despesas do município em ambiente (%),Alojamentos turísticos (6)
Portugal,2010,10573100,0,0,NaN,15.2,NaN,66.3,NaN,18.5,...,7.24744e+06,NaN,65461,NaN,49,40.1,4776.8,76.2,8,2011

In [25]:
f=open(r'C:\Users\nikit\OneDrive\Desktop\Psn\trab_final\excelfiles\municipios2.txt')
listMun=[m.strip() for m in f.readlines()]

for mun in listMun:
    df1 = pd.read_excel(os.path.join(path,f'O seu municipio em numeros! {mun}.xls'))
    df1=df1[6:78]
    df1=df1.drop(['Unnamed: 2','Unnamed: 4','Unnamed: 5','Unnamed: 6',],axis=1)#axis 1 porque é para eleminar coluna
    df1.columns=['Municipio']+df1.loc[7].tolist()[1:]     
    #df1.loc[6]=['Ano',2010]
    df1=df1.drop(7)
    df1=df1.transpose()
    df1.columns=df1.loc['Municipio']
    df1=df1.drop(['Municipio'])
    df1.columns=df.columns
    df=df.append(df1)
    
  


df1
# df.columns=[c.strip() for c in df.columns]

# df=df.drop(['Empresas não financeiras','€, milhares','Superfície em km2'],axis=1)



# for c in df.columns:
#     if df[c].isnull().all():
#         df=df.drop(c,axis=1)
        
# df

Municipio,NaN,População residente,Superfície em km2,Densidade populacional,número médio de indivíduos por km2,Jovens (%),menos de 15 anos,População em idade activa (%),15 aos 64 anos,Idosos (%),...,Receitas da Câmara Municipal (8),"€, milhares",Saldo financeiro da Câmara Municipal,"€, milhares",Transferências recebidas no total das receitas da Câmara Municipal (%),Crimes registados pelas polícias por mil habitantes,Consumo de energia eléctrica por habitante (kWh),Resíduos urbanos recolhidos selectivamente por habitante (kg),Despesas do município em ambiente (%),Alojamentos turísticos (6)
Vouzela,2010,10656,0,0,NaN,12.7,NaN,60.7,NaN,26.6,...,10299.6,NaN,642,NaN,77.3,31,2937.2,26.1,7,1
Vouzela,2019,9640,0,49.8,NaN,9.7,NaN,61,NaN,29.2,...,0,NaN,0,NaN,0,23,0,45.5,0,9

In [5]:
# df.to_excel(os.path.join(path,'data_V1.xls'))

df.to_excel('data_V2.xls')